<h2>Select Pool</h2>
<hr>
<p>Select one Pool for template preparation.</p>
<%= form_for('Pool', :as => 'pools', :url => create_template_path) do |f| %>
	<%= render 'layouts/poolsTable_table' %>
	<br>
	<hr>
	<%= f.button :submit %>
<% end %>