<% provide(:title, 'Help') %>

<h2>NGS Help Page</h2>

<p>	PN: 4476851 </p>
<p>	PO:DE43129	</p>
<p>	Dell order nr: 945762925 </p>
<p>	Service tag: GYDYKS1 </p>
<p>	Service code: 36907815601 </p>

</p>

<table  class="display">
	<thead>
		<tr>
			<th>
				LNS ID
			</th>
			<th>
				Name
			</th>
			<th>
				Company
			</th>
			<th>
				Serial No
			</th>
			<th>
				Location
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				994
			</td>
			<td>
				PGM Ion Torrent
			</td>
			<td>
				Life Technologies
			</td>
			<td>
				25080149
			</td>
			<td>
				Maldi room
			</td>
		</tr>
		<tr>
			<td>
				994
			</td>
			<td>
				Torrent Server
			</td>
			<td>
				Life Technologies
			</td>
			<td>
				
			</td>
			<td>
				Maldi room
			</td>
		</tr>
		<tr>
			<td>
				994
			</td>
			<td>
				One Touch
			</td>
			<td>
				Life Technologies
			</td>
			<td>
				2456009-01495
			</td>
			<td>
				HPLC room
			</td>
		</tr>
		<tr>
			<td>
				994
			</td>
			<td>
				One Touch ES
			</td>
			<td>
				Life Technologies
			</td>
			<td>
				2456009-1495
			</td>
			<td>
				HPLC room
			</td>
		</tr>
		<tr>
			<td>
				996
			</td>
			<td>
				Microcentrifugeuse, MiniStar silverline
			</td>
			<td>
				VWR
			</td>
			<td>
				12011109
			</td>
			<td>
				Maldi room
			</td>						
		</tr>	
		<tr>
			<td>
				997
			</td>
			<td>
				Vortex
			</td>
			<td>
				VWR
			</td>
			<td>
				51230366
			</td>
			<td>
				FACS room
			</td>						
		</tr>
		<tr>
			<td>
				998
			</td>
			<td>
				Mix 1 eco product (magnetic stirrer)
			</td>
			<td>
				VWR
			</td>
			<td>
				1215002
			</td>
			<td>
				HPLC room
			</td>						
		</tr>		
	</tbody>
</table>