<div class="center hero-unit">
  <h1>Welcome to Big AL</h1>

  <h2>
    NGS Data Managment System 
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>

</div>