<h2>Welcome <%= current_user.name %></h2>

<p>News</p>

<%= render '/layouts/news_section' %>
<%= link_to 'See more', sharedmessages_path %>


<hr>

<p>My Projects</p>
<div class="center">
	<%= render 'layouts/projects_table' %>
</div>




<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>