<div class="center hero-unit">
	<h2>News</h2>
	<hr/>
		<table id="mainNav" class="display">
			<thead>
				<tr>
					<th>
						All Projects
					</th>
					<th>
						My Projects
					</th>
					<th>
						Create New Project
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<%= link_to image_tag("Actions-project-open-icon.png"), projects_path%>		
					</td>
					<td>
						<%= link_to image_tag("project-plan-icon.png"), 
							user_path(current_user)%>
					</td>
					<td>
						<%= link_to image_tag("ion-torrent.png"), 
							new_project_path%>
					</td>
				</tr>		
			</tbody>
		</table>	
</div>