<div>
	<h2>Welcome <%= current_user.name %></h2>
	<div class="myNews">
		<aside>
			<p>News</p>
			<%= render '/layouts/news_section' %>
			<%= link_to 'See more', sharedmessages_path %>
		</aside>
		<article>
			<div class="center">
				<%= render 'layouts/projects_table' %>
			</div>
		</article>
	</div>
</div>
