<div class="center">
	<h2>Welcome <%= current_user.name %></h2>
	<div class="myNews">
		<aside>

		</aside>
		<article>
			<p>News</p>
			<%= render '/layouts/news_section' %>
			<%= link_to 'See more', sharedmessages_path %>
		</article>
	</div>
<hr/>
</div>
<div class="center">
	<%= render 'layouts/projects_table' %>
</div>