<h2>Select Template</h2>
<hr>
<p>Select a Template for Sequencing</p>
<%= form_for('Template', :as => 'templates', :url => create_pgmrun_path ) do |f| %>
	<%= render 'layouts/templates_table' %>
	<br>
	<hr>
	<%= f.button :submit %>
<% end %>