<h3>My Libraries</h3>
<hr>
<p>Select at least one or more Libraries for pooling/template preparation.</p>
<%= form_for('Library', :as => 'libraries', :url => create_pool_path) do |f| %>
	<%= render 'layouts/libraries2_table' %>
	<br>
	<hr>
	<%= f.button :submit %>
<% end %>
