<p>Created at:</p>
<p><%= @sharedmessage.created_at %></p>
<p>From User:</p>
<p><%= @sharedmessage.user.name %></p>
<p>Title:</p>
<p><%= @sharedmessage.title %></p>
<p>Content:</p>
<p><%= @sharedmessage.content %></p>