<%= form_for [@user, @project], :html => { :multipart => true } do |f| %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: "Create new Project..." %>
    <%= f.file_field :ref_document %>
  </div>
  <%= f.submit %>
<% end %>