@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: horizontal, vertikal;

  width: 500px;
  height: 100px;

}

.left {
    float: left;    
}

.center {

  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

p.myTitle {
  font-size: 1.0em;
  letter-spacing: -1px;
  font-weight: normal;
  color: $grayLight;  
}

.myNews {

  aside {

    text-align: center;
    with:200px;
    height:400px;
    margin-right: 10px;
    overflow: auto;
  }

  article {
    text-align: center;
    width:800px;
    height:400px;
    overflow: auto;
  }
  
}

.allNews {
  text-align: center;
  width:800px;
  height:300px;
  overflow: auto;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* SIDEBAR ------------------------------------------ */
 
aside {
  width: 200px;
  padding: 0 15px;
  margin: 0 0 10px 0;
  float: left;

}

.myAside {

  h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: normal;
    color: #696969;
  }

  width: 300px;
  padding: 0 10px;
  margin: 0 0 10px 0;
  float: left;
  color: #696969  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.vim {

  h1 {
  padding-top: 50px;
  font-size: 2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  color: red;
  }
}


.td[value="Incomplete"] {
      color: red;
  }


.alternateTable {

  tr.alt td 
  {
  background-color:#EAF2D3;
  }

  tr td {
    
    color:#696969;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
  }
}

#myTwoColumn {


  aside {
    width: 300px;
    padding: 0 15px;
    margin: 0 0 10px 0;
    float: left;
  }  

}