<footer class="footer">
  <small>
    Big AL
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      
      <li><a href="http://www.Immunology.lu/">News</a></li>
    </ul>
  </nav>
</footer>