<table id="myfileTable">
	<thead>
		<tr>
			<th>
				From Pool:
			</th>				
		</tr>
	</thead>
	<tbody>
		<% @all_templates.each do |temp| %>
			<tr>
				<td>
					<p><%= temp.pool.name %>, </p>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>