<div class="shortNews">
	<div class="panel panel-info">
		<div class="panel-body">
		<% Sharedmessage.get_new_messages.each do |info| %>

			<h4 class="list-group-item-heading">
			<%= link_to(info) do %>
				<%= info.title %> </h4> 
			<% end %>
			by: <%= info.user.name %>
		<% end %>
		</div>
	</div>
</div>

<div class="panel panel-primary">...</div>