<table id="samples" class="display">
	<thead>
		<tr>
			<th>
				Sample Name
			</th>
			<th>
				Size (bp)
			</th>
			<th>
				Quantity (ng/ul)
			</th>
			<th>

			</th>
		</tr>
	</thead>
	<tbody>
		<% @samples.each do |sample| %>
			<tr>
				<td>
					<%= link_to sample.name, project_sample_path(@project, sample) %>
				</td>
				<td>
					<%= sample.size %>
				</td>
				<td>
					<%= sample.quantity %>
				</td>
				<td>
					<% if !sample.libraries.any?%>
					<%= link_to 'Del', project_sample_path(@project, sample), 
						:confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>