<table id="templates_table" class="display">
	<thead>
		<tr>
			<th>
				Project:
			</th>
			<th>
				Pool-Name:
			</th>
		</tr>
	</thead>
	<tbody>
		<% @templates.each do |template| %>
			<tr>
				<td>
					<%= template.get_project %>
				</td>
				<td>
					<%= template.get_pool_name %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>